@using IAG.InstallClient.RazorHelper;

@model JobLogModel

<div class="job-feedback-area">
    <div class="progress">
        <div id="job-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <textarea id="job-log" class="form-control" rows="10" readonly="readonly">@Model.JobActionName gestartet...</textarea>
</div>
@if (!string.IsNullOrEmpty(Model.BackLinkAction)) {
    <a id="back-button" asp-action="@Model.BackLinkAction" class="btn btn-secondary d-none">Zurück</a>
}

@* ReSharper disable UseOfImplicitGlobalInFunctionScope *@
@Html.PartialViewScript(@<script language="javascript">
    (function () {
        var curLogPosition = 0;
        var updateLogInterval;
        var updateLog = function () {
            $("#job-log").append(".");
            $.ajax({url: "@Url.Action("GetJobStatus", "JobStatus", new { jobId = Model.JobId })", cache: false })
                .done(function (response) {
                    for (; curLogPosition < response.Messages.length; curLogPosition++) {
                        $("#job-log").append("\n");
                        $("#job-log").append(response.Messages[curLogPosition].Text);
                    }
                    if (!response.Finished) {
                        var progress = Math.floor(response.Progress * 100);
                        $("#job-progress").css("width", progress + "%").text(progress + " %");
                    }
                    else {
                        window.clearInterval(updateLogInterval);
                        $("#job-log").append("\n").append("@Model.JobActionName fertig");
                        $("#job-progress").css("width", "100%").text("100%");
                        $("#job-progress").addClass(response.Success ? "bg-success" : "bg-danger");
                        $("#back-button").removeClass("d-none");
                    }
                })
                .fail(function (response) {
                    $("#job-log").append("!");
                    console.error(response);
                });

        };
        updateLogInterval = window.setInterval(updateLog, 500);
    })();
</script>)
