@model LinkListViewModel
@{
    ViewData["Title"] = "Link Liste";
}

<h2>Link Liste</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Produkt</th>
        <th scope="col">URL</th>
        <th scope="col">Beschreibung</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var link in Model.Links) {
        <tr>
            <td>
                @link.Name
            </td>
            <td>
                <a href="@link.Url" target="_blank">@link.Url</a>
            </td>
            <td>
                @link.Description
            </td>
        </tr>
    }
    </tbody>
</table>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>
        <div class=" alert alert-danger">@Model.ErrorMessage</div>
    </p>
}