@using IAG.InstallClient.BusinessLogic.Model
@using IAG.InstallClient.Controllers
@model InstallationOverviewViewModel
@{
    ViewData["Title"] = "Übersicht Installationen";
}

<h2>Übersicht Installationen</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Instanz</th>
        <th scope="col">Produkt</th>
        <th scope="col">Version</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var installation in Model.Installations) {
        <tr>
            <td>
                @installation.InstanceName
            </td>
            <td>
                @if (string.IsNullOrEmpty(installation.CustomerPluginName))
                {
                    @installation.ProductName
                }
                else
                {
                    @($"{installation.ProductName} (inkl. Kundenerweiterung '{installation.CustomerPluginName}')")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => installation.Version)
            </td>
            <td>
                <form asp-action="Index">
                    <input type="hidden" asp-for="@installation.ProductName" />
                    <input type="hidden" asp-for="@installation.InstanceName" />
                    <input type="hidden" asp-for="@installation.ServiceName" />
                    <input type="hidden" asp-for="@installation.CustomerPluginName" />
                    <input type="hidden" name="installationAction" />
                    @if (string.IsNullOrEmpty(installation.ServiceName))
                    {
                        <button type="submit" data-installation-action="@InstallationController.InstallationAction.InstallService" class="btn btn-link installation-action-button"><i class="fa fa-cogs" title="Dienst installieren"></i></button>
                    }
                    else
                    {
                        if ((installation.ServiceStatus == ServiceStatus.StartPending) || (installation.ServiceStatus == ServiceStatus.Running))
                        {
                            <button type="submit" data-installation-action="@InstallationController.InstallationAction.StopService" class="btn btn-link installation-action-button"><i class="fa fa-stop" title="Dienst stoppen"></i></button>
                        }
                        else
                        {
                            <button type="submit" data-installation-action="@InstallationController.InstallationAction.StartService" class="btn btn-link installation-action-button"><i class="fa fa-play" title="Dienst starten"></i></button>
                        }
                    }
                    <a class="btn btn-link" asp-action="Update" asp-route-instanceName="@installation.InstanceName" asp-route-productName="@installation.ProductName"><i class="fa fa-arrow-alt-circle-up" title="Aktualisieren"></i></a>
                    <a class="btn btn-link" asp-action="Transfer" asp-route-instanceName="@installation.InstanceName" asp-route-productName="@installation.ProductName"><i class="fa fa-arrow-alt-circle-right" title="Transferieren"></i></a>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-alt" title="Deinstallieren"></i></button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="New"><i class="fa fa-plus-circle"></i> Add</a>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Installation löschen?
            </div>
            <div class="modal-body">
                Wollen Sie diese Installation wirklich löschen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="delete-installation-button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>
        <div class=" alert alert-danger">@Model.ErrorMessage</div>
    </p>
}

@section Scripts
{
    <script language="javascript">
        (function() {
            function setAction(form, action) {
                form["installationAction"].value = action;
            }

            window.$(".installation-action-button").click(function() {
                var action = window.$(this).data("installationAction");
                if (action) {
                    setAction(this.form, action);
                }
            });
            window.$("#confirm-delete").on("show.bs.modal", function(e) {
                window.$("#delete-installation-button").data("form", window.$(e.relatedTarget).parent()[0]);
            });
            window.$("#delete-installation-button").click(function () {
                var form = window.$(this).data("form");
                setAction(form, "@InstallationController.InstallationAction.Delete");
                form.submit();
            });
        })();
    </script>
}
